@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Электронный журнал университета "Дубна"</title>
    <link rel="stylesheet" href="~/css/start.css" />
</head>

<body>
    @RenderBody()
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
