@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model WebAppMVC.ViewModel.StudentViewModel

<h1 class="h-title h1-title">Измемение студента</h1>

<form asp-action="EditStudent" asp-controller="Admin">

    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div hidden class="ca_">
        <label class="ca_lab" asp-for="Id">Индификатор аккаунта:</label>
        <input class="ca_input" type="text" asp-for="Id" />
        <span asp-validation-for="Id"></span>
    </div>
    <div class="ca_">
        <label class="ca_lab" asp-for="SecondName">Фамилия:</label>
        <input class="ca_input" type="text" asp-for="SecondName" />
        <span asp-validation-for="SecondName"></span>
    </div>
    <div class="ca_">
        <label class="ca_lab" asp-for="FirstName">Имя:</label>
        <input class="ca_input" type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="ca_">
        <label class="ca_lab" asp-for="LastName">Отчество:</label>
        <input class="ca_input" type="text" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="ca_">
        <label class="ca_lab" asp-for="Group">Группа:</label>
        <input class="ca_input" type="text" asp-for="Group" />
        <span asp-validation-for="Group"></span>
    </div>
    <div class="ca_">
        <input class="ca_input" type="submit" value="Изменить" />
    </div>
</form>