<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Электронный журнал университета "Дубна"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>ВХОД</h1>
            <a>ЛОГИН : <input type="text" id="login"></a>
            <a>ПАРОЛЬ : <input type="text" id="password"></a>
            <a><span>ВОЙТИ</span></a>
        </div>

    </div>


    <link href="assets/CSS/style.css" rel="stylesheet">
    <script src="assets/JS/jscript.js"></script>
</body>

</html>