<aside class="left-sidebar">
    <a class="nav__link" asp-action="Profil" asp-controller="Admin">ПРОФИЛЬ</a>
    <a class="nav__link" asp-action="Accounts" asp-controller="Admin">АККАУНТЫ</a>
    <a class="nav__link" asp-action="Students" asp-controller="Admin">СТУДЕНТЫ</a>
    <a class="nav__link" asp-action="Teachers" asp-controller="Admin">ПРЕПОДАВАТЕЛИ</a>
    <a class="nav__link" asp-action="Subjects" asp-controller="Admin">ДИСЦИПЛИНЫ</a>
</aside>

@*asp-controller="Home" asp-action="Profil"*@