<a class="nav_link" asp-action="Profil" asp-controller="Admin">ПРОФИЛЬ</a>
<a class="nav_link" asp-action="Accounts" asp-controller="Admin">АККАУНТЫ</a>
<a class="nav_link" asp-action="Students" asp-controller="Admin">СТУДЕНТЫ</a>
<a class="nav_link" asp-action="Teachers" asp-controller="Admin">ПРЕПОДАВАТЕЛИ</a>
<a class="nav_link" asp-action="Subjects" asp-controller="Admin">ДИСЦИПЛИНЫ</a>