<aside class="left-sidebar">
    <a class="nav__link" asp-action="Profil" asp-controller="Home">ПРОФИЛЬ</a>
    <a class="nav__link" asp-action="Accounts" asp-controller="Home">АККАУНТЫ</a>
    <a class="nav__link" asp-action="Students" asp-controller="Home">СТУДЕНТЫ</a>
    <a class="nav__link" asp-action="Teachers" asp-controller="Home">ПРЕПОДАВАТЕЛИ</a>
</aside>

@*asp-controller="Home" asp-action="Profil"*@