@model System.String

<div onmouseover="hoverInUser()" onmouseout="hoverOutUser()" class="dropdown">
    <a class="text-dark nav-link" href="#">@Model</a>
    <div id="myDropdown" class="dropdown-content">
        <a asp-controller="Account" asp-action="Logout">Выйти</a>
    </div>
</div>