@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div id="root">
    <div>
        <header>
            <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="#">СПОРТКОМПЛЕКС ОЛИМП</a>
                    <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse">
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item"><a class="text-dark nav-link" asp-controller="Start" asp-action="Index">Начальная страница</a></li>
                            @*<li class="nav-item"><a class="text-dark nav-link" href="#">ВОЙТИ</a></li>*@
                            <li class="nav-item">
                                @{
                                    await Html.RenderPartialAsync("/Views/Home/_User.cshtml", User.Identity.Name);

                                }
                            </li>
                            <!--<div id="myDropdown" class="dropdown-content">
                            <a href="/Account/Logout">Выйти</a> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <aside class="left-sidebar">
                @{
                    if (User.IsInRole("Administrator"))
                        await Html.RenderPartialAsync("/Views/Admin/_Sidebar.cshtml");
                    if (User.IsInRole("Student"))
                        await Html.RenderPartialAsync("/Views/Student/_Sidebar.cshtml");
                    if (User.IsInRole("Teacher"))
                        await Html.RenderPartialAsync("/Views/Teacher/_Sidebar.cshtml");
                }
            </aside>
            <main class="content">
                @RenderBody()
            </main>
        </div>
    </div>
</div>


@*<div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo">СПОРТКОМПЛЕКС ОЛИМП</div>

                    <nav class="nav">
                        <a class="nav__link" asp-controller="Start" asp-action="Index">Начальная страница</a>
                        @{
                            await Html.RenderPartialAsync("/Views/Home/_User.cshtml", User.Identity.Name);

                        }
                    </nav>
                </div>
            </div>
        </header>
        <div class="middle">
            @{
                if (User.IsInRole("Administrator"))
                    await Html.RenderPartialAsync("/Views/Admin/_Sidebar.cshtml");
                if (User.IsInRole("Student"))
                    await Html.RenderPartialAsync("/Views/Student/_Sidebar.cshtml");
                if (User.IsInRole("Teacher"))
                    await Html.RenderPartialAsync("/Views/Teacher/_Sidebar.cshtml");
            }
            <div class="container">
                <main class="content">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>*@