/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


@media screen and (min-width: 1240px) {
    body {
        position: absolute;
        margin: 0%;
        height: 100%;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    h1 {
        margin: 0;
    }
    /* гранницы элементов */
    .wrapper,
    .middle,
    .left-sidebar,
    .content {
        border: 1px solid black;
    }
    /* гранницы элементов */
    .wrapper,
    .footer {
        position: relative;
        display: flex;
        margin: 0;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-width: 1240px;
        display: table;
    }
    .wrapper {
        top: 0;
        height: 90%;
    }
    .footer {
        border: 1px solid black;
        bottom: 0;
        height: 10%;
    }
    .header,
    .middle {
        position: relative;
        box-sizing: border-box;
        display: block;
    }
    /* Middle */
    .middle {
        height: 90%;
        width: 100%;
        display: table;
    }
    .middle .left-sidebar,
    .middle .container {
        /**/
        box-sizing: border-box;
        /**/
        position: relative;
        height: 100%;
        display: table-cell;
    }
    .middle .left-sidebar {
        width: 190px;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .middle .left-sidebar .nav__link {
        margin-top: 15px;
    }
    .middle .container {
        min-width: 620px;
        max-width: 1000px;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .content {
        box-sizing: border-box;
        position: relative;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        overflow-y: auto;
    }
    /* Header */
    .header {
        height: 10%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .header .container {
        width: 100%;
        min-width: 1200px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
        font-size: 30px;
        font-weight: 700;
    }
    /* Nav */
    .nav {
        font-size: 14px;
        text-transform: uppercase;
    }
    .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;
        text-decoration: none;
        transition: color .1s linear;
    }
    .nav__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: black;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity .1s linear;
    }
    .nav__link:hover:after,
    .nav__link.active:after {
        opacity: 1;
    }
    .nav__link.active,
    .nav__link:hover,
    .nav__link,
    .header__logo {
        color: black;
    }
}

@media screen and (max-width: 768px) {
    body {
        position: absolute;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    h1 {
        margin: 0;
    }
    /* гранницы элементов */
    .wrapper,
    .middle,
    .left-sidebar,
    .content {
        border: 1px solid black;
    }
    /* гранницы элементов */
    .wrapper,
    .footer {
        position: relative;
        display: flex;
        margin: 0;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-width: 768px;
        display: table;
    }
    .wrapper {
        top: 0;
        height: 90%;
    }
    .footer {
        border: 1px solid black;
        bottom: 0;
        height: 10%;
    }
    .header,
    .middle {
        position: relative;
        box-sizing: border-box;
        display: block;
    }
    /* Middle */
    .middle {
        height: 90%;
        width: 100%;
        display: table;
    }
    .middle .left-sidebar,
    .middle .container {
        /**/
        box-sizing: border-box;
        /**/
        position: relative;
        height: 100%;
        display: table-cell;
    }
    .middle .left-sidebar {
        width: 100px;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .middle .left-sidebar .nav__link {
        font-size: 8px;
        margin-top: 5px;
    }
    .middle .container {
        width: 668px;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .middle .container a {
        font-size: 8px;
    }
    .content {
        box-sizing: border-box;
        position: relative;
        font-size: 12px;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow-y: auto;
    }
    /* Header */
    .header {
        height: 10%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .header .container {
        width: 100%;
        min-width: 768px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
        font-size: 15px;
        font-weight: 700;
    }
    /* Nav */
    .nav {
        font-size: 8px;
        text-transform: uppercase;
    }
    .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;
        text-decoration: none;
        transition: color .1s linear;
    }
    .nav__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: black;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity .1s linear;
    }
    .nav__link:hover:after,
    .nav__link.active:after {
        opacity: 1;
    }
    .nav__link.active,
    .nav__link:hover,
    .nav__link,
    .header__logo {
        color: black;
    }
}