body {
    width: 100%;
    height: 100%;
    position: center;
    margin: 0;
}

div {
    background-color: black;
    /*border: 1px solid grey;*/
}

.authorization {
    width: 100%;
    height: 100%;
    position: center;
    margin: 0;
    display: table;
}

#header {
    width: 100%;
    height: 50px;
    display: block;
}

#icon {
    background-image: url(icon.jpg);
    height: 100%;
    width: 50px;
    display: inline-block;
}

.header a {
    display: inline-block;
}

#user {
    height: 50px;
    width: 150px;
    margin-left: 83%;
    display: table;
    display: inline-block;
}

#iconU {
    background-image: url(icon.jpg);
    height: 50px;
    width: 50px;
    display: table-cell;
}

#login {
    background-color: grey;
    height: 50px;
    width: 100px;
    display: table-cell;
}

#menubar {
    width: 0.1%;
    height: 550px;
    display: table-cell;
}

#contentCell {
    margin: 0 auto;
    width: 0.5%;
    height: 550px;
    display: table-cell;
}

#content {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    text-align: center;
}

a {
    color: white;
}