
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Электронный журнал университета "Дубна"</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="~/css/style.css"/>
</head>

<body>
    @RenderBody()
</body>

</html>