@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model WebAppMVC.ViewModel.RecordViewModel

<h1 class="h-title h1-title">Вы уверены что хотите удалить запись?</h1>
<div class="ca_">
    <a class="nav_link" asp-action="RemoveRecord" asp-controller="Admin" asp-route-id="@Model.Id">Удалить</a>
    <a class="nav_link" asp-action="Record" asp-controller="Admin">Назад</a>
</div>
@if (Model.Dependences != null && Model.Dependences.Count != 0)
{
    await Html.RenderPartialAsync("/Views/Admin/_Dependences.cshtml", Model.Dependences);
}
