<a class="nav__link" asp-action="Profil" asp-controller="Teacher">ПРОФИЛЬ</a>
<a class="nav__link" asp-action="Timetable" asp-controller="Teacher">РАСПИСАНИЕ</a>
<a class="nav__link" asp-action="Journal" asp-controller="Teacher">ЖУРНАЛ</a>
<a class="nav__link" asp-action="Attendance" asp-controller="Teacher">ПОСЕЩАЕМОСТЬ</a>