@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model DomainCore.Models.Teacher

<h1 class="h-title h1-title">ПРОФИЛЬ</h1>
<h2 class="h2-title">Тип учетной записи: Преподаватель</h2>

<h2 class="h2-title">Фамилия: @Model.TeacherSname</h2>
<h2 class="h2-title">Имя: @Model.TeacherName</h2>
<h2 class="h2-title">Отчество: @Model.TeacherLname</h2>