@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model WebAppMVC.ViewModel.TimetableViewModel

<h1>Расписание</h1>

@for (int i = 1; i <= 7; i++)
{
    if (Model.Timetable.Where(tt => tt.TtWeekDay == i).Count() > 0)
    {
        Model.DayOfWeek = i;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }
}


@*@{
        Model.DayOfWeek = 2;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }
    @{
        Model.DayOfWeek = 3;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }
    @{
        Model.DayOfWeek = 4;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }
    @{
        Model.DayOfWeek = 5;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }
    @{
        Model.DayOfWeek = 6;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }
    @{
        Model.DayOfWeek = 7;
        await Html.RenderPartialAsync("/Views/Teacher/_PartTimetable.cshtml", Model);
    }*@
